<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="user.id" value="1226418"/>
    <add key="user.pw" value="Remember(72)"/>
    <add key="rpt.period" value="https://services1.myworkday.com/ccx/service/customreport2/uhaul/1226418/NL_All_periods?"/>
    <add key="rpt.offset" value="https://services1.myworkday.com/ccx/service/customreport2/uhaul/1226418/NL_Payroll_On_Demand_and_Offset"/>
    <add key="wid.can.bi.start" value="265c773ade2d0158f8d0ab37dc36edd3"/>
    <add key="wid.can.bi.end" value="a7541e5dcff71001b0db3c62cbac0001"/>
    <add key="wid.us.bi.start" value="265c773ade2d01a363ef9037dc369bd3"/>
    <add key="wid.us.bi.end" value="ad25010f74671001b0dabd0c89370001"/>
    <add key="wid.us.we.start" value="265c773ade2d01fc1d656037dc364ad3"/>
    <add key="wid.us.we.end" value="10761f9f2f1f1001b0da77bf769a0000"/>
  </appSettings>
</configuration>